body{
    width: 100%;
    height: auto;
    background-image: url('pic/image1.png');
  background-size: 100% auto;
    background-repeat: no-repeat;
}

.carl{
    padding-top: 27px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: white;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.35);
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.04em;
    padding-left: 46px;
   
  

    margin: 0;
    float: left;
 
}
header{
    height: 84px;
    width: 100%;
    background: rgb(33,105,177);
    background: linear-gradient(90deg, rgba(33,105,177,1) 0%, rgba(0,0,0,0.7514356084230567) 28%, rgba(0,0,0,0.75) 94%);
}

.menu{

    
    float: right;
    display: flex;


}
.menurow{
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.35);
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.04em;
    padding-left: 183px;
    margin-top: 30px;
    font-weight: 400;
    float: right;
    display: flex;
}
.nagivat{
    float: right;
    display: flex;
}
a{
    padding-right: 50px;
    color: white !important;
    flex-direction: row;
    padding-bottom: 35px;
}
.set{
    margin-right: 17px;
    margin-left: 29px;
    margin-top: 9px;
    background-image: url("pic/Vector.png");
    background-repeat: no-repeat;
    background-size: 35px 35px;
}
.exit{
    margin-top: 7px;
}
.hi{
    z-index: 1;
}

/*header*/

.parentt{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 342px;
    height: 475px;
    background-color: #00000080;
    margin-top: 318px;
    margin-left: 809px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -218px 0 0 -129px;
}

main {
    height: 443px !important;
}

.stat {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: white;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.35);
    line-height: 43px;
    padding-top: 17px;
    box-shadow: 0px 4px 32px 3px rgba(0, 0, 0, 0.25);
    padding-left: 19px;
    background-color: #0074e765;
    border-radius: 20px 20px 0 0;
    height: 80px;
}

.textstatic {
    font-weight: 400;
}

.exitbut {
    margin-left: 32%;
}
.onlinetext{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-left: 25px;
    margin-top: 20px;
}
.countblock{
width: 287px;
height: 313px;
margin-left: 26px;
background: #ffffff15;
box-shadow: 0px 4.43649px 4.43649px rgba(0, 0, 0, 0.5);
border-radius: 10px;
overflow-y: scroll; overflow-x: hidden;
}
.countblock::-webkit-scrollbar{
    width: 30px;
    background-color: #f9f9fd;
    border-radius: 10px;
}
.countblock::-webkit-scrollbar-thumb{
    background-color: #9e9ea5;
    border-radius: 10px;
}
.t1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 300;
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 9px;
}
#admin{
background: #ffffff34;
margin-top: 8px;
width: 60px;
height: 30px;
text-align: center;
font-size: 18px;
border-radius: 10px;
border: beige;
color: white;
font-family: 'Montserrat', sans-serif;

}



.t2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 300;
    text-align: left;
    margin-left: 26px;
    margin-top: 6px;
    margin-right: 9px;
}
#goverm{
background: #ffffff34;
margin-top: 3px;
width: 60px;
height: 30px;
text-align: center;
font-size: 18px;
border-radius: 10px;
margin-bottom: 7px;
border: beige;
color: white;
font-family: 'Montserrat', sans-serif;

}

.t3{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 300;
    text-align: left;
    margin-left: 83px;
    margin-top: 2px;
    margin-right: 9px;
}
#police{
background: #ffffff34;
margin-top: -2px;
width: 60px;
height: 30px;
text-align: center;
font-size: 18px;
border-radius: 10px;
border: beige;
color: white;
font-family: 'Montserrat', sans-serif;

}

.t4{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 300;
    text-align: left;
    margin-left: 125px;
    margin-top: 7px;
    margin-right: 9px;
}
#fbr{
background: #ffffff34;
margin-top: 2px;
width: 60px;
height: 30px;
text-align: center;
font-size: 18px;
border-radius: 10px;
border: beige;
color: white;
font-family: 'Montserrat', sans-serif;
}

.t5{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 300;
    text-align: left;
    margin-left: 92px;
    margin-top: 6px;
    margin-right: 9px;
}
#med{
background: #ffffff34;
margin-top: 1px;
width: 60px;
height: 30px;
text-align: center;
font-size: 18px;
border-radius: 10px;
border: beige;
color: white;
font-family: 'Montserrat', sans-serif;

}

.t6{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 300;
    text-align: left;
    margin-left: 106px;
    margin-top: 6px;
    margin-right: 9px;
}
#bands{
background: #ffffff34;
width: 60px;
height: 30px;
text-align: center;
font-size: 18px;
border-radius: 10px;
border: beige;
color: white;
font-family: 'Montserrat', sans-serif;

}

.t7{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 300;
    text-align: left;
    margin-left: 101px;
    margin-top: 4px;
    margin-right: 9px;
}
#maf{
background: #ffffff34;
margin-top: -1px;
width: 60px;
height: 30px;
text-align: center;
font-size: 18px;
border-radius: 10px;
border: beige;
color: white;
font-family: 'Montserrat', sans-serif;

}

.t8{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 300;
    text-align: left;
    margin-left: 108px;
    margin-top: 10px;
    margin-right: 9px;
}
#lorem{
background: #ffffff34;
margin-top: 6px;
width: 60px;
height: 30px;
text-align: center;
font-size: 18px;
border-radius: 10px;
border: beige;
color: white;
font-family: 'Montserrat', sans-serif;

}

button.exitbut{
    width: 40px;
    margin-left: 100px;
}
button{
    height: 30px;
background: #ffffff17;
border-radius: 10px !important;
border: transparent;
background-color: rgba(255, 255, 255, 0.014);
}
.z{

    z-index: 1;
}
.exitbut {
    margin-left: 3%;
    background-image: url("pic/ExitButton.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}



@media (min-width: 576px){
    .navbar-expand-sm {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: wrap;
        flex-flow: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    }
    .header{
        font-size: calc(1em + 0.2vw);
    }
    @media (min-width:576px) {
        .header{
            margin-left: -185px;
            margin-right: -364px;
        }
        
    }
    
    @media (min-width:576px) {
        .set {
          margin-right: 10px;
        }
        
    }
    
    @media (min-width:576px) {
        .nav-link {
          margin-left: 5px;
          margin-right: 5px;
        }
        
    }
    .e::before{
        content: url("pic/Selectionshade.png");
        position: absolute;
        bottom: 2px;
        right: 124px;
    }

    
@media (min-width:576px) {
    .nav-link {
      margin-left: -42px;
      margin-right: 5px;
    }
    
}