body{
    width: 100%;
    height: auto;
    background-image: url('pic/image1.png');
  background-size: 100% auto;
    background-repeat: no-repeat;
}

.carl{
    padding-top: 27px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: white;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.35);
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.04em;
    padding-left: 46px;
   
  

    margin: 0;
    float: left;
 
}
header{
    height: 84px;
    width: 100%;
    background: rgb(33,105,177);
    background: linear-gradient(90deg, rgba(33,105,177,1) 0%, rgba(0,0,0,0.7514356084230567) 28%, rgba(0,0,0,0.75) 94%);
}

.menu{

    
    float: right;
    display: flex;


}
.menurow{
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.35);
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.04em;
    padding-left: 183px;
    margin-top: 30px;
    font-weight: 400;
    float: right;
    display: flex;
}
.nagivat{
    float: right;
    display: flex;
}
a{
    padding-right: 50px;
    color: white !important;
    flex-direction: row;
    padding-bottom: 35px;
}
.set{
    margin-right: 17px;
    margin-left: 29px;
    margin-top: 9px;
    background-image: url("pic/Vector.png");
    background-repeat: no-repeat;
    background-size: 35px 35px;
}
.exit{
    margin-top: 7px;
}
.hi{
    z-index: 1;
}

/*header*/

.parentt{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

/*header*/

.block{
    width: 1076px;
    height: 475px;
    background-color: #00000080;
    margin-top: 318px;
    margin-left: 525px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
  margin:-218px 0 0 -458px;
}
main{
    height: 443px !important;
}
.stat{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: white !important;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.35);
    line-height: 43px;
    padding-top: 19px;
    box-shadow: 0px 4px 32px 3px rgba(0, 0, 0, 0.25);
    padding-left: 33px;
    background-color:#0074e765;
    border-radius: 20px 20px 0 0;
    height: 80px;
}
.textstatic{
    font-weight: 400;
}
.exitbut{
    margin-left: 1.5%;
}
.search{
    width: 251px;
    padding-left: 10px;
   height: 40px;
   font-size: 20px !important;
   font-family: 'Montserrat', sans-serif !important;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background: #ffffff1a;
box-shadow: 0px 4.43649px 4.43649px rgba(0, 0, 0, 0.5);
border-radius: 10px;
margin-left: 50%;
color: white !important;
border: initial;
}
.search::-webkit-input-placeholder {color:white;}

.team{
   margin-left: 77px;
   margin-right: 311px;
   font-size: 18px !important;
   font-family: 'Montserrat', sans-serif !important;
   color: white;
   margin-top: 17px;
   font-weight: 300;
}
.enable{
    font-size: 18px !important;
    font-family: 'Montserrat', sans-serif !important;
    color: white;
    margin-right: 290px;
    margin-top: 17px;
    font-weight: 300;
}
.decs{
    font-size: 18px !important;
    font-family: 'Montserrat', sans-serif !important;
    color: white;
    margin-top: 17px;
    font-weight: 300;
}
#blockcol{
    width: 988px;
    height: 313px;
    border-radius: 10px;
    background-color: #ffffff15;
    box-shadow: 0px 4.43649px 4.43649px rgba(0, 0, 0, 0.5);
    margin-left: 29px;
    margin-top: 5px;
    padding-top: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.frow{
background-color: #e6e6e618;
border-radius: 10px;
width: 960px;
height: 30px;
margin-left: 14px !important;

}
.f{
width: 196px;
height: 30px;
border-radius: 10px;
background-color: #ffffff15;
position: absolute;

}
.ftext{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
letter-spacing: 0.01em;
color: white;
padding-left: 47px;

}

.openrange{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
color: white;
text-align: justify;
letter-spacing: -0.06em;
margin-left: 219px !important;
}
.all1{
    background-color: #04ff0015;
    border-radius: 10px;
    width: 117px;
    height: 30px;
    margin-left: 453px;
}
.all1text{
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    padding-left: 26px;
}
.mrow{
    background-color: #e6e6e618;
border-radius: 10px;
width: 960px;
height: 30px;
margin-left: 14px !important;
margin-top: 5px;
}
.m{
    width: 196px;
height: 30px;
border-radius: 10px;
background-color: #ffffff15;
position: absolute;
}
.mtext{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
letter-spacing: 0.01em;
color: white;
padding-left: 47px;
}
.openmenu{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
color: white;
text-align: justify;
letter-spacing: -0.06em;
margin-left: 219px !important;
}
.all2{
    background-color: #04ff0015;
    border-radius: 10px;
    width: 117px;
    height: 30px;
    margin-left: 437px;
}

.all2text{
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    padding-left: 26px;
}
.tarow{
    background-color: #e6e6e618;
border-radius: 10px;
width: 960px;
height: 30px;
margin-left: 14px !important;
margin-top: 5px;
}
.ta{
    width: 196px;
height: 30px;
border-radius: 10px;
background-color: #ffffff15;
position: absolute;
}
.tatext{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
letter-spacing: 0.01em;
color: white;
padding-left: 68px;
}
.call{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
color: white;
text-align: justify;
letter-spacing: -0.06em;
margin-left: 219px !important;
}
.all3{
    background-color: #04ff0015;
    border-radius: 10px;
    width: 117px;
    height: 30px;
    margin-left: 495px;
}

.all3text{
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    padding-left: 26px;
}


.tprow{
    background-color: #e6e6e618;
border-radius: 10px;
width: 960px;
height: 30px;
margin-left: 14px !important;
margin-top: 5px;
}
.tp{
    width: 196px;
height: 30px;
border-radius: 10px;
background-color: #ffffff15;
position: absolute;
}
.tptext{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
letter-spacing: 0.01em;
color: white;
padding-left: 22px;
}
.pay{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
color: white;
text-align: justify;
letter-spacing: -0.06em;
margin-left: 219px !important;
}
.all4{
    background-color: #04ff0015;
    border-radius: 10px;
    width: 117px;
    height: 30px;
    margin-left: 455px;
}

.all4text{
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    padding-left: 26px;
}


.merow{
    background-color: #e6e6e618;
border-radius: 10px;
width: 960px;
height: 65px;
margin-left: 14px !important;
margin-top: 5px;
}
.me{
    width: 196px;
height: 65px;
border-radius: 10px;
background-color: #ffffff15;
position: absolute;
padding-top: 16px;
}
.metext{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
letter-spacing: 0.01em;
color: white;
padding-left: 71px;
padding-top: 10px;
}
.action{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
color: white;
text-align: justify;
letter-spacing: -0.06em;
margin-left: 219px !important;
padding-top: 7px;
}
.all5{
    background-color: #04ff0015;
    border-radius: 10px;
    width: 117px;
    height: 65px;
    margin-left: 33px;
    padding-top: 20px;
}

.all5text{
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    padding-left: 30px;
}



.sbrow{
    background-color: #e6e6e618;
border-radius: 10px;
width: 960px;
height: 68px;
margin-left: 14px !important;
margin-top: 5px;
}
.sb{
    width: 196px;
height: 68px;
border-radius: 10px;
background-color: #ffffff15;
position: absolute;
padding-top: 16px;
}
.sbtext{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
letter-spacing: 0.01em;
color: white;
padding-left: 26px;
padding-top: 10px;
}
.lorem{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
color: white;
text-align: justify;
letter-spacing: -0.06em;
margin-left: 219px !important;
}
.all6{
    background-color: #04ff0015;
    border-radius: 10px;
    width: 117px;
    height: 68px;
    margin-left: 42px;
    padding-top: 20px;
}

.all6text{
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    padding-left: 30px;
}

button.exitbut{
    width: 40px;
    margin-left: 23px;
}
button{
    height: 30px;
background: #ffffff17;
border-radius: 10px !important;
border: transparent;
background-color: rgba(255, 255, 255, 0.014);
}

.exitbut {
    margin-left: 3%;
    background-image: url("pic/ExitButton.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}
.z{
    z-index: 1;
}


@media (min-width: 576px){
    .navbar-expand-sm {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: wrap;
        flex-flow: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    }
    .header{
        font-size: calc(1em + 0.2vw);
    }
    @media (min-width:576px) {
        .header{
            margin-left: -185px;
            margin-right: -364px;
        }
        
    }
    
    @media (min-width:576px) {
        .set {
          margin-right: 10px;
        }
        
    }
    
   
@media (min-width:576px) {
    .nav-link {
      margin-left: -42px;
      margin-right: 5px;
    }
    
}
    .c::before{
        content: url("pic/Selectionshade.png");
        position: absolute;
        bottom: 2px;
        left: 283px;
    }